@import url(https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Crete+Round&family=Inter:wght@100;200;300&display=swap);

/* Nav Styles */

/* Intro Styles */

/* Intro2 Styles */

/* Classes Styles */
h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 70px;
  line-height: 50px;
  width: 1000px;
  height: 32px;
  left: 162px;
  top: 1px;
}

#classes img {
  width: 42vh;
  height: 32vh;
  margin: 10px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#classes ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 30vh;
  align-items: center;
}

/* Program Styles */

/* About Styles */

ul > div {
  border: 2px solid black;
  width: fit-content;
  padding: 1px;
  border-radius: 35px;
  box-shadow: 0 0 4px;
  left: 103px;
}

div > h1 {
  width: 497px;
  height: 72px;
  left: 150px;
  top: 225px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700px;
  font-size: 40px;
  line-height: 59px;
  margin: 47px;
}

div > h2 {
  font-family: 'Cabin', sans-serif;
  width: 497px;
  height: 72px;
  left: 152px;
  top: 350px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 39px;
  display: flex;
  align-items: center;
  margin: 49px;
}

.about > h1 {
  width: 420px;
  height: 103px;
  left: 123px;
  top: 400px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700px;
  font-size: 48px;
  line-height: 58px;
}

.about > h2 {
  width: 1236px;
  height: 117px;
  left: 124px;
  top: 454px;
  font-family: 'Cabin', sans-serif;
  font-weight: 300px;
  font-size: 22px;
  line-height: 39px;
}

.platforms > h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700px;
  font-size: 48px;
  line-height: 58px;
  width: 716px;
  height: 103px;
  left: 123px;
  top: 732px;
}

#icons > img {
  width: 69px;
  height: 69px;
  margin: 5px;
  top: 700px;
  left: 124px;
  padding: 0 3px;
  justify-content: space-around;
}

/* Partnership Styles */
